.right-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right-block .news {
    background: rgba(231, 231, 231, 0.73);
    height: 100%;
}

.right-block .news .current-page {
    width: 730px;
    left: 0;
    right: 0;
    margin: 30px auto 121px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 40px 29px 68px;
    box-sizing: border-box;
}

.right-block .news .current-page .title {
    text-transform: uppercase;
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #131313;
}

.right-block .news .current-page ul {
    list-style-type: none;
    margin-top: 27px;
}
.right-block .news .current-page ul .fixed-time {
    display: flex;
}
.right-block .news .current-page ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #0F0F0F;
    margin-bottom: 18px;
    padding: 5px 0;
    flex: 1 1 10ch
}

.right-block .news .current-page ul .icons {
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    padding: 13px;
    border-radius: 40px;
    margin-right: 21px;
    max-height: 16px;
    font-size: 14px;
    background: #E3EFFF;
}

.right-block .news .current-page ul .mark,
.right-block .news .current-page ul .install {
    background: #CEF9C6;
}

.right-block .news .current-page ul .comment,
.right-block .news .current-page ul .theory {
    background: #FFF8DD;
}

.right-block .news .current-page ul .upload,
.right-block .news .current-page ul .practice {
    background: #E3EFFF;
}


.right-block .news .current-page ul li .message {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #131313;
    line-height: 21px;
    margin-right: 110px;
}

.right-block .news .current-page ul li .sub-message {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #131313;
    line-height: 20px;
    margin-right: 8px;
    margin-top: 18px;
    background-color: #e7e7e7;
    border-radius: 12px;
    padding: 21px 30px 28px;
}


.right-block .news .current-page ul li .time {
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #131313;
    text-align: right;
    line-height: 20px;
    white-space: nowrap;
}

.right-block .news .current-page .sub-image {
    display: flex;
    flex-direction: row;
    margin-top: 19px;
    flex-wrap: wrap;
}

.right-block .news .current-page .sub-image img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
