.task-item {
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: white;
    cursor: pointer;
}
.task-item .task-name, .task-item .task-date {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #131313;
    line-height: 20px;
}
.task-item .task-date {
    font-size: 12px;
    text-align: right;
}
.toDo-task-item {
    border-color: #1E95EA;
}
.inProgress-task-item {
    border-color: yellow;
}
.done-task-item {
    border-color: green;
}
.overdue-task-item {
    background-color: #eeb7b7;
}
.one-day-overdue-task-item {
    background-color: #f5d39c;
}
@media (max-width: 840px) {
    .task-item .task-name, .task-item .task-date {
        font-size: 12px;
    }
}
@media (max-width: 700px) {
    .task-item .task-name, .task-item .task-date {
        font-size: 11px;
    }
}
@media (max-width: 650px) {
    .task-item .task-name, .task-item .task-date {
        font-size: 13px;
    }
}
