.error-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #da0707;
    line-height: 21px;
    margin-top: 10px;
    font-weight: bold;
}
.right-block .news .current-page .error-message {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #d33c3c;
    line-height: 21px;
    margin-bottom: 5px;
}
.right-block .news .current-page form ul {
    margin-top: 5px;
}
form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.right-block .news .current-page .error-ul {
    margin-top: 0;
}
input[type=text] {
    background-color: #E3EFFF;
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #131313;
    line-height: 21px;
    flex: 1 1 10ch;
    margin: .5rem;
}

input:hover, input[type=submit]:hover{
    border: 2px solid #9a9a9a;
}
input[type=submit] {
    background-color: #E3EFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #131313;
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    flex: 1 1 10ch;
    margin: .5rem;
}
.remove-button {
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    padding: 13px;
    border-radius: 40px;
    max-height: 16px;
    font-size: 14px;
    background: #E3EFFF;
}
.task-font-change {
    font-size: 24px;
    animation-name: change-font-size;
    animation-duration: 1.5s;
}
@keyframes change-font-size {
    0%   {font-size: 16px;}
    50%  {font-size: 20px;}
    100% {font-size: 16px;}
}
.task-flicker {
    border-radius: 5px;
    background-color: #ffffff;
    animation-name: flicker-effect;
    animation-duration: 1s;
    animation-iteration-count: 3;
}
@keyframes flicker-effect {
    0%   {background-color: #ffffff;}
    40%  {background-color: rgba(239, 239, 239, 0.73);}
    100% {background-color: #ffffff;}
}