@media (max-width: 1440px) {
    aside {
        min-width: 270px;
    }

    aside .top-side-panel {
        margin-bottom: 29px;
        padding: 30px 20px 0 30px;
    }

    aside .top-side-panel img, aside .top-side-panel .logo {
        width: 21px;
        height: 25px;
    }

    aside .top-side-panel a:after {
        top: 2px;
    }

    aside .top-side-panel h2 {
        font-size: 16px;
        margin: 0 86px 0 26px;
    }

    aside .top-side-panel button img {
        width: 16px;
        height: 16px;
    }

    aside .user-info {
        padding: 14px 10px 15px 30px;
    }

    aside .user-info img {
        border-radius: 50px;
        width: 48px;
        height: 48px;
    }

    aside .user-info div h2 {
        font-size: 14px;
        margin: 8px 16px 5px 15px;
    }

    aside .user-info div p {
        font-size: 12px;
        margin: 2px 10px 10px 13px;
    }

    aside .user-info button {
        width: 25px;
        height: 30px;

    }

    aside .user-info button:after {
        font-size: 4px;
        left: -10px;
    }

    aside .user-statistic {
        padding: 25px 30px 27px 30px;
    }

    aside .user-statistic .count {
        font-size: 20px;
        margin: 0 80px 5px 0;
    }

    aside .user-statistic .title {
        font-size: 12px;
    }

    aside nav {
        padding: 5px 0 0 0;
    }

    aside nav li {
        font-size: 15px;
        margin-bottom: 6px;
        padding: 5px 0 5px 30px;
    }

    aside nav .menu {
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 10px;
        padding: 5px 0 5px 30px;
    }

    aside nav li:last-child:after {
        font-size: 12px;
        width: 19px;
        height: 19px;
        margin-left: 9px;
    }

    header {
        padding: 39px 30px 0 30px;
    }

    header div .left-side img {
        width: 40px;
        height: 42px;
        border-radius: 9px;
    }

    header div h2 {
        font-size: 33px;
        color: #131313;
        margin: -5px 12px 0 16px;
    }

    header div .see-more div {
        width: 4px;
        height: 4px;
        border-radius: 5px;
        margin: 0 2px 0 0;
    }

    header div .see-more {
        padding: 14px 8px;
    }

    header div .round {
        border-radius: 35px;
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }

    header div button {
        font-size: 14px;
    }

    header div .share {
        margin-left: 10px;
        margin-right: 17px;
        padding: 5px 15px;
    }

    header div .chat {
        padding: 6px 15px;
    }

    header div .chat span:before {
        margin: auto 13px;
    }

    header nav ul {
        font-size: 17px;
    }

    header nav ul li {
        padding: 23px 0 13px 0;
        margin-right: 30px;
    }

    .right-block .news .current-page {
        margin: 30px auto 121px;
        border-radius: 5px;
        padding: 40px 27px;
    }

    .right-block .news .current-page .title {
        font-size: 14px;
    }

    .right-block .news .current-page ul {
        margin-top: 32px;
    }

    .right-block .news .current-page ul li {
        margin-bottom: 28px;
    }

    .right-block .news .current-page ul .icons:before {
        padding: 13px;
    }

    .right-block .news .current-page ul li .fas {
        padding: 13px;
        margin-right: 21px;
    }

    .right-block .news .current-page ul li .message {
        font-size: 16px;
        line-height: 21px;
        margin-right: 110px;
    }

    .right-block .news .current-page ul li .time {
        font-size: 14px;
    }

    .right-block .news .current-page ul li .sub-message {
        font-size: 16px;
        line-height: 20px;
        margin-top: 18px;
        padding: 21px 30px 28px;
    }

    .right-block .news .current-page .sub-image {
        margin-top: 19px;
    }

    .right-block .news .current-page .sub-image img {
        margin-right: 10px;
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 1024px) {
    header div .round {
        display: none;
    }

    .right-block .news .current-page {
        width: 85%;
    }
}

@media (max-width: 865px) {
    header div h2 {
        font-size: 25px;
    }

    header div button {
        font-size: 10px;
        min-height: 30px;
    }

    header div .see-more:after {
        top: 10px;
    }
}

@media (max-width: 780px) {
    aside {
        min-width: 175px;
    }

    aside .top-side-panel {
        margin-bottom: 29px;
        padding: 15px 5px 0 10px;
    }

    aside .top-side-panel h2 {
        margin: 0 10px 0 15px;
    }

    aside .user-info {
        padding: 16px 10px 13px 10px;
        flex-direction: column;
    }

    aside .user-statistic .title {
        font-size: 13px;
    }

    aside .user-info div {
        margin-right: 0;
    }

    aside .user-info div h2,
    aside .user-info div p,
    aside .user-info button {
        margin: 5px auto;
    }

    aside .user-statistic .count {
        margin: 0 40px 5px 0;
    }

    header div button {
        font-size: 15px;
    }

    header div .see-more:after {
        top: 8px;
    }

    .right-block .news .current-page ul li .message {
        margin-right: 30px;
    }
}

@media (max-width: 730px) {
    header div .chat span:before {
        content: "";
    }

    header div .chat span {
        margin-left: 0;
    }

    header div .chat span:before {
        width: 0;
        height: 0;
    }

    header div .see-more {
        padding: 14px 14px;
    }
}

@media (max-width: 500px) {
    .main-page {
        flex-direction: column;
    }

    aside, .right-block {
        width: 100%;
    }

    aside .top-side-panel {
        margin-bottom: 10px;
        padding: 15px 10px 0 10px;
        justify-content: space-around;
    }

    aside .user-info, aside .user-statistic {
        flex-direction: row;
        justify-content: space-around;
        padding: 5px 10px;
    }

    aside .user-info button {
        margin: 0;
    }

    aside nav li {
        font-size: 14px;
        padding: 5px 15px;
    }

    aside nav .menu {
        display: none;
    }

    header div .chat img {
        display: flex;
    }

    nav ul, header nav ul {
        display: inline-flex;
        justify-content: space-around;
    }

    header nav ul {
        font-size: 13px;
    }

    header nav ul li {
        padding: 15px 0 13px 0;
        margin-right: 10px;
    }

    .right-side {
        display: none;
    }

    .right-block .news .current-page {
        width: 100%;
    }

    .right-block .news .current-page ul li .message {
        margin-right: 10px;
    }

    .right-block .news .current-page ul li .sub-message {
        padding: 10px;
    }

    .right-block .news .current-page {
        margin: 30px auto;
    }
}
